#Write a program in Python to prompt the user to input their name, employee number, week ending date, hours worked, rate per hour, standard and overtime tax percentage rate. Use the data input to calculate gross pay, tax deductions and net pay. Output the results as a formatted payslip. Assume that a standard working week is 37.5 hours.

In [1]:
def calculates_payslip():
  ####Importing the tabulate library to get the resukts in a table
  from tabulate import tabulate
  ### Inputing Variables to get details of employee
  print('Enter Your name')
  Name = input()
  print('Kindly input the week ending date in this format dd/mm/yyyy')
  Week_end = input()
  print('Enter Your Employee Num ')
  Emp_num = input()
  print('Enter The number of hours worked')
  Hours = float(input())
  print('Enter rate per hour:')
  rate_hr = float(input())
  over_rate_hr = rate_hr*1.5
  print('Enter Standard tax rate')
  Stan_tax_rate = float(input())
  print('Enter Overtime tax rate')
  overtime_tax_rate = float(input())
  ######If statements to calculate gross pay, tax deductions and net pay
  if Hours<=37.5:
    #### Gross Pay
    total = Hours*rate_hr
    #### Tax Deductions
    deductions = total*(Stan_tax_rate/100)
    ###Tax Pay
    Netpay = total - deductions
    #####Output in table form
    print("")
    print("{: ^70s}".format("PAYSLIP"))
    print("")
    print("WEEK ENDING {}".format(Week_end))
    print('Employee {}'.format(Name))
    print('Employee Number {}'.format(Emp_num))
    print(tabulate([['','Hours Rate', 'Total',''],['Hours(normal)','{} {}'.format(Hours, rate_hr),total,'Tax @20% {:.2f}'.format(deductions)]
                    ,['','','',''],['','Total Pay:','','{}'.format(total)],["","Total Deductions:","",'{:.2f}'.format(deductions)],
                    ["","Net Pay:","",'{}'.format(Netpay)]], headers=['','Earnings','','Deductions']))
  else:
    ######If statements to calculate gross pay, tax deductions and net pay
    over_hr = Hours - 37.5 
    total = 37.5*rate_hr
    over_total = over_hr * over_rate_hr
    deductions = total*(Stan_tax_rate/100)
    over_deduct = over_total*(overtime_tax_rate/100)
    #### Gross Pay
    t_total = total + over_total
    #### Tax Deductions
    t_deduct = deductions + over_deduct
    ###Tax Pay
    net_pay = t_total - t_deduct
    #####Output in table form
    print("")
    print("{: ^70s}".format("PAYSLIP"))
    print("")
    print("WEEK ENDING {}".format(Week_end))
    print('Employee: {}'.format(Name))
    print('Employee Number: {}'.format(Emp_num))
    print(tabulate([['','Hours  Rate', 'Total',''],['Hours(normal)','{} {}'.format(Hours, rate_hr),total,'Tax @20% {:.2f}'.format(deductions)],
                    ['Hours(Overtime)','{}  {}'.format(over_hr, over_rate_hr),over_total,'Tax @50% {:.2f}'.format(over_deduct)],['','','',''],['','Total Pay:','','{:.2f}'.format(t_total)],
                     ["","Total Deductions:","",'{:.2f}'.format(t_deduct)],
                    ["","Net Pay:","",'{:.2f}'.format(net_pay)]], headers=['','Earnings','', 'Deductions']))

In [6]:
calculates_payslip()

Enter Your name
Samantha Johnson
Kindly input the week ending date in this format dd/mm/yyyy
18/12/2020
Enter Your Employee Num
123456789A
Enter The number of hours worked
56
Enter rate per hour:
10.50
Enter Standard tax rate
20
Enter Overtime tax rate
50

                               PAYSLIP

WEEK ENDING 18/12/2020
Employee: Samantha Johnson
Employee Number: 123456789A
                 Earnings                    Deductions
---------------  -----------------  -------  ---------------
                 Hours  Rate        Total
Hours(normal)    56.0 10.5          393.75   Tax @20% 78.75
Hours(Overtime)  18.5  15.75        291.375  Tax @50% 145.69

                 Total Pay:                  685.12
                 Total Deductions:           224.44
                 Net Pay:                    460.69

# Write a program in Python which prompts the user for their username in the format Domain Name\Username

In [7]:
def domain_find():
  #PRINTING CONSOLE PROMPTS
  print("#########################################")
  print("WELCOME TO THE DBS CONSOLE")
  print("#########################################")
  print('Please enter your username SEPERATED BY \\ e.g DBS\\12345')
  #INPUTING DOMAIN AND USERNAME IN DOMAIN\USERNAME FORMAT
  Name = input()
  #SPLITTING DOMAIN AND USERNAME
  Domain =Name[0:(Name.find('\\'))]
  Username = Name[(Name.find('\\')+1):]
  #PRINTING RESULTS
  print("")
  print("DOMAIN:  {}".format(Domain))
  print("Username:  {}".format(Username))

In [9]:
domain_find()

#########################################
WELCOME TO THE DBS CONSOLE
#########################################
Please enter your username SEPERATED BY \ e.g DBS\12345
ecobankgroup\7894561230

DOMAIN:  ecobankgroup
Username:  7894561230

#Write a program in Python that prompts the user to enter a number of integer values. The program stores the integers, counts the frequency of each integer and displays the frequency

In [10]:
def integer_count():
  print("#########################################")
  print("WELCOME TO THE DBS CONSOLE")
  print("#########################################")
  print('Input the number of elements to be stored in the list :')
  elements_count = int(input())
  elements = []
  for i in range(elements_count):
    new = elements.append(input("element - {} : ".format(i)))
  print('The frequency of all elements of the list :')
  for count in set(elements):
    print(count, 'occurs', elements.count(count),"times")

In [12]:
integer_count()

#########################################
WELCOME TO THE DBS CONSOLE
#########################################
Input the number of elements to be stored in the list :
9
element - 0 : 1
element - 1 : 1
element - 2 : 2
element - 3 : 56
element - 4 : 56
element - 5 : 2
element - 6 : 3
element - 7 : 1
element - 8 : 8
The frequency of all elements of the list :
56 occurs 2 times
2 occurs 2 times
1 occurs 3 times
8 occurs 1 times
3 occurs 1 times

#Implement the MYPY Phone Book System in Python as per Figure 3 below which allows users to add, delete, update and lookup phone numbers. The MYPY Phone Book System should store the individual’s Full Name and Phone Number. Your program should not allow users to add the same number twice. On adding, deleting, updating or looking up a number, your program should let the user know if the operation was successful or not. On looking up a number return the full name and number of the individual; if the number is not found give the user the option to add the details they are looking up. The user can perform multiple actions; they can add a new entry and subsequently delete an entry without having to stop and start the program until they decide to quit.

In [15]:
def total_ponebook():

  ##Importing Panda and SQLite3 libraries
  import pandas as sam
  import sqlite3 as dd

  ##Creating/Connecting to a database
  db = dd.connect("PH.db")
  db.execute("drop table if exists results")
  try:
    ###Creating table on database created with column names for our phonebook
    db.execute("create table mypy(Name text, Number text PRIMARY KEY UNIQUE)")
  except:
    print("Already table existed !!")

  ####Creating a function to call how phonebook Menu
  def mypy_ph_bk():
      print("########################\n  MYPY PHONE BOOK \n########################")
      print("1 : Add New Entry \n2 : Delete Entry\n3 : Update Entry\n4 : Lookup Number \n5 : View Phonebook \n6 : QUIT")
      print("_________________________________")

  ####Setting criteria for continous running of our Menu without exiting
  select = 0
  while select != 6:
    print("########################\n  MYPY PHONE BOOK \n########################")
    print("1 : Add New Entry \n2 : Delete Entry\n3 : Update Entry\n4 : Lookup Number \n5 : View Phonebook \n6 : QUIT")
    print("_________________________________")
    select =int(input())

  #########################Add New Entry

    if select == 1:
      ##input Name and Number for entry into the phonebook
      Name=input('Enter Fullname: ')
      Number=input('Enter Phone Number: ')
      cmd = "insert into mypy(Name, Number) values('{}','{}')".format(Name,Number)
      ###Check to confirm if the number exists and condition to follow if possible
      try:
        db.execute(cmd)
        db.commit()
        print("Record Sucessfully Added")
      except dd.Error:
        print("Duplicate entry\n Unsucessfull entry\n Enter a new number")
                
  ########################Delete Entry

    elif select ==2:
      Del_num = input('Number to be Deleted: ')
      cmd = "Delete from mypy  WHERE  Number = '{}'".format(Del_num)
      del_com = db.execute(cmd)
      db.commit()
      if del_com.rowcount < 1:
        print('Number inserted cannot be found')
      else:
        print('Record Has been sucessfully Deleted')

  ########################Update Entry

    elif select ==3:
      Num1 = input('Number to be updated: ')
      run_cmd = "Select * from mypy  WHERE  Number = '{}'".format(Num1)
      up_num = sam.read_sql_query(run_cmd, db)
      if up_num.empty ==False:
        name=input('Enter New Fullname: ')
        number=input('Enter New Phone Number: ')
        cmd = "UPDATE mypy  SET Name = '{}',  Number = '{}'  WHERE  Number = '{}'".format(name,number,Num1)
        new = db.execute(cmd)
        db.commit()
        print('Record Has been sucessfully Updated') 
      else:
        print('Number inputted cannot be found')

  ########################Lookup  Entry

    elif select == 4:
      Lookup_num = input('Number to be lookuped: ')
      cmd = "Select * from mypy  WHERE  Number = '{}'".format(Lookup_num)
      look = sam.read_sql_query(cmd, db)
      if look.empty == False:
        print("######################")
        print(look)
        print("######################")
        print("")
      else:
        print('Number not found')
        new = input('Do you want to add the number to the phonebook(Y/N): ')
        if new == 'Y' or new == 'y':
          Name=input('Enter Fullname: ')
          Number=Lookup_num
          cmd = "insert into mypy(Name, Number) values('{}','{}')".format(Name,Number)
          db.execute(cmd)
          db.commit()
          print("Record Sucessfully Added")
        else:
          print("")

  ########################View Phonebook
    elif select ==5:
      db = dd.connect("PH.db")
      view = """SELECT * FROM mypy"""
      views = sam.read_sql_query(view, db)
      print("######################")
      print(views)
      print("######################")
      print("")
      mypy_ph_bk()

  #######################
    elif select ==6:
      print("Thank you for using the Phonebook")
      print("Exiting ..................")

In [17]:
total_ponebook()

Already table existed !!
########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
5
######################
            Name       Number
0  Salako Samuel  +3538997207
######################

########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
4
Number to be lookuped: +3538997207
######################
            Name       Number
0  Salako Samuel  +3538997207
######################

########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
4
Number to be lookuped: +23470664567
Number not found
Do you want to add the number to the phonebook(Y/N): y
Enter Fullname: Funwontan Salami
Record Sucessfully Added
########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
5
######################
               Name        Number
0     Salako Samuel   +3538997207
1  Funwontan Salami  +23470664567
######################

########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
########################
  MYPY PHONE BOOK
########################
1 : Add New Entry
2 : Delete Entry
3 : Update Entry
4 : Lookup Number
5 : View Phonebook
6 : QUIT
_________________________________
6
Thank you for using the Phonebook
Exiting ..................